[Unit]
Description=Books-Management
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/book-management-store
Restart=always
RestartSec=3
User=monkey
WorkingDirectory=/

[Install]
WantedBy=multi-user.target